[Desktop Entry]
ServiceTypes=inode/directory
Actions=KSquirrel;
Encoding=UTF-8
Type=Application

[Desktop Action KSquirrel]
Type=Application
Icon=ksquirrel
Exec=ksquirrel %u

Name=Browse with KSquirrel
Name[ru]=Просмотреть в KSquirrel
Name[de]=Mit KSquirrel durchsehen