# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=ksquirrel-small -caption "%c" %i %m  
Icon=ksquirrel.png
Comment=Image viewer, light version
Terminal=false
Name=ksquirrel-small
GenericName=Image viewer, light version
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/bmp;image/png;image/x-png;image/tiff;image/x-bmp;image/x-psd;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-anymap;image/x-portable-graymap;image/jp2;image/x-jng;image/x-wmf;video/x-mng;video/x-flic;image/x-targa;image/x-pcx;image/x-photo-cd;image/x-rgb;image/x-xcursor;image/x-ico;
